<p id="notice"><%= notice %></p>

<h1>Listing entregas</h1>

<table>
  <tr>
    <th>Remetente</th>
    <th>Destinatario</th>
    <th>Conteudo</th>
    <th>Selo</th>
    <th>entregue</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entregas.each do |entrega| %>
  <tr>
    <td><%= entrega.remetente %></td>
    <td><%= entrega.destinatario %></td>
    <td><%= entrega.conteudo %></td>
    <td><%= image_tag entrega.selo.imagem(:pequeno) %></td>
    <td>
      <% if entrega.entregue == true %>
        <%= image_tag('http://railsnapraia.com/uploads/workshop_ror/entregue.png') %>
      <% else %>
        Não
      <% end %>
    </td>
    <td><%= link_to 'Show', entrega %></td>
    <td><%= link_to 'Edit', edit_entrega_path(entrega) %></td>
    <td><%= link_to 'Destroy', entrega, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Entregar', entrega_entregar_path(entrega.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrega', new_entrega_path %>
