<%= form_for(@selo,:html => { :multipart => true }) do |f| %>
  <% if @selo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@selo.errors.count, "error") %> prohibited this selo from being saved:</h2>

      <ul>
      <% @selo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :preco %><br />
    <%= f.text_field :preco %>
  </div>
  <div class="field">
    <%= f.label :prioridade %><br />
    <%= collection_select :selo, :prioridade_id, Prioridade.order(:name=>'DESC'), :id, :nome %>
  </div>

  <%= f.file_field :imagem %>
  <br>
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
