<h1>Listing selos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Prioridade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @selos.each do |selo| %>
  <tr>
    <td><%= selo.nome %></td>
    <td><%= selo.prioridade %></td>
    <td><%= link_to 'Show', selo %></td>
    <td><%= link_to 'Edit', edit_selo_path(selo) %></td>
    <td><%= link_to 'Destroy', selo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Selo', new_selo_path %>
