<h1>Listing central_correios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Capacidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @central_correios.each do |central_correio| %>
  <tr>
    <td><%= central_correio.nome %></td>
    <td><%= central_correio.capacidade %></td>
    <td><%= link_to 'Show', central_correio %></td>
    <td><%= link_to 'Edit', edit_central_correio_path(central_correio) %></td>
    <td><%= link_to 'Destroy', central_correio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Central correio', new_central_correio_path %>
