<%= form_for(@prioridade) do |f| %>
  <% if @prioridade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prioridade.errors.count, "error") %> prohibited this prioridade from being saved:</h2>

      <ul>
      <% @prioridade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
